################################################################################
# Name:		{{ instance_name }}.tf
# Author:	Rodney Marable <rodney.marable@gmail.com>
# Created On:	April 16, 2019
# Last Changed:	May 13, 2019
# Deployed On:	{{ lookup('pipe','date \"+%B %-d, %Y\"') }}
# Purpose:	Terraform template for {{ instance_name }}
################################################################################

resource "aws_instance"  "{{ instance_name }}" {
  availability_zone         = "{{ az }}"
  ami                       = "{{ aws_ami }}"
  ebs_optimized             = "{{ ebs_optimized }}"
  iam_instance_profile      = "{{ iam_instance_profile }}"
  instance_type             = "{{ ec2_instance_type }}"
  key_name                  = "{{ ec2_keypair }}"
  provider                  = "{{ provider }}"
  root_block_device {
    volume_size             = "{{ instance_root_volume_size }}"
    volume_type             = "{{ ebs_volume_type }}"
  }
  vpc_security_group_ids    = ["{{ vpc_security_group_ids }}"]
  subnet_id                 = "{{ subnet_id }}"
  tags {
    Name                    = "{{ instance_name }}"
    EC2InstanceBuilder      = "Terraform"
    Purpose                 = "plcuster-jumphost for {{ instance_owner }}"
    InstanceSerialNumber    = "{{ instance_serial_number }}"
    InstanceOwner           = "{{ instance_owner }}"
    InstanceOwnerEmail      = "{{ instance_owner_email }}"
    InstanceOwnerDepartment = "{{ instance_owner_department }}"
{% if 'UNDEFINED' not in project_id %}
    ProjectID               = "{{ project_id }}"
{% endif %}
    DEPLOYMENT_DATE         = "{{ DEPLOYMENT_DATE }}"
  }
  volume_tags {
    EC2InstanceBuilder      = "Terraform"
    Purpose                 = "EBS volume for pcluster-jumphost {{ instance_name }}"
    InstanceSerialNumber    = "{{ instance_serial_number }}"
    InstanceOwner           = "{{ instance_owner }}"
    InstanceOwnerEmail      = "{{ instance_owner_email }}"
    InstanceOwnerDepartment = "{{ instance_owner_department }}"
{% if 'UNDEFINED' not in project_id %}
    ProjectID               = "{{ project_id }}"
{% endif %}
    MountedBy               = "{{ instance_name }}"
    DEPLOYMENT_DATE         = "{{ DEPLOYMENT_DATE }}"
  }
  provisioner "file" {
    source      = "{{ build_pcluster_jumphost_script }}"
    destination = "/tmp/{{ build_pcluster_jumphost_script }}"
  connection {
    type        = "ssh"
    user        = "{{ ec2_user }}"
    agent       =  false
    private_key = "${file("{{ ssh_keypair_file }}")}"
    }
  }
  provisioner "remote-exec" {
    inline = [
      "chmod 0755 /tmp/{{ build_pcluster_jumphost_script }}",
      "/tmp/{{ build_pcluster_jumphost_script }}",
    ]
  connection {
    type        = "ssh"
    user        = "{{ ec2_user }}"
    agent       =  false
    private_key = "${file("{{ ssh_keypair_file }}")}"
    }
  }
}
output "instance_ip_address" {
  value = "${join(", ", aws_instance.{{ instance_name }}.*.public_ip)}"
}
output "instance_public_dns" {
  value = "${join(", ", aws_instance.{{ instance_name }}.*.public_dns)}"
}
output "instance_name_index" {
  value = "${join(", ", aws_instance.{{ instance_name }}.*.tags.Name)}"
}
