################################################################################
# Name:         remove_pcluster_jumphost_instance_data_dir.{{instance_name}}.sh
# Author:       Rodney Marable <rodney.marable@gmail.com>
# Created On:   April 19, 2019
# Last Changed: April 24, 2019
# Deployed On:	{{ lookup('pipe','date \"+%B %-d, %Y\"') }}
# Purpose:      Removes pcluster-jumphost instance_data directories
################################################################################

#!/bin/sh

INSTANCE_NAME={{ instance_name }}

# Set some important variables and paths.

EC2_USER={{ ec2_user }}
EC2_KEYPAIR={{ ec2_keypair }}
REGION={{ region }}
SSH_KEYPAIR_FILE={{ ssh_keypair_file }}
SRC_TREE_DIR="`git rev-parse --show-toplevel`/JumphostMaker"
INSTANCE_DATA_DIR={{ instance_data_dir }}

# Delete the ec2_keypair associated with this pcluster-jumphost in AWS.

aws --region $REGION ec2 delete-key-pair --key-name {{ ec2_keypair }}

# Delete the instance data directory associated with this pcluster-jumphost.

if [ -d $INSTANCE_DATA_DIR ]
then
	echo "Deleting $INSTANCE_DATA_DIR..."
	rm -rf $INSTANCE_DATA_DIR
fi
echo "Finished! Exiting..."
exit 0
