#!/bin/bash
set -euo pipefail
#
################################################################################
# Name:         sbatch-Axb_random.JOBCOUNT.{{ cluster_name }}.sh
# Author:       Rodney Marable <rodney.marable@gmail.com>
# Created On:   May 3, 2019
# Last Changed: May 3, 2019
# Deployed On:  {{ lookup('pipe', 'date +%Y-%m-%d') }}
# Purpose:      Custom sbatch submission script for run_axb.sh and Axb_random.py
################################################################################

# Set the name of the cluster job.
#SBATCH --job-name=slurm_Axb_random

# Set the maximum execution time to 8 hours.
# Format: HH:MM:SS
#SBATCH --time=8:00:00

# Example: enable job array (uncomment to submit as an array of 10 tasks).
##SBATCH --array=1-10

# Write job standard output to this file.
# Uncomment the second option to include the jobID.
# Uncomment the third option to include the jobID and taskID (default).
# To write stdout and stderr to the same file, leave the next stanza alone.
##SBATCH --output slurm_Axb_random.out
##SBATCH --output slurm_Axb_random.job%j.out
#SBATCH --output slurm_Axb_random.job%j.task%t.out

# Write job standard error to this file.
# Uncomment the second option to include the jobID.
# Uncomment the third option to include the jobID and taskID.
# To write stdout and stderr to the same file, leave this stanza ALONE.
##SBATCH --error slurm_Axb_random.err
##SBATCH --error slurm_Axb_random.job%j.err
#SBATCH --error slurm_Axb_random.job%j.task%t.err

# Select the number of compute cores.
{% if hyperthreading == 'true' %}# Hyperthreading is enabled.
{% set _sz = compute_instance_type.split('.')[-1] %}
{% if _sz == "large" %}#SBATCH --ntasks=2
{% elif _sz == "xlarge" %}#SBATCH --ntasks=4
{% elif _sz == "2xlarge" %}#SBATCH --ntasks=8
{% elif _sz == "4xlarge" %}#SBATCH --ntasks=16
{% elif _sz == "9xlarge" %}#SBATCH --ntasks=36
{% elif _sz == "12xlarge" %}#SBATCH --ntasks=48
{% elif _sz == "18xlarge" %}#SBATCH --ntasks=72
{% elif _sz == "24xlarge" %}#SBATCH --ntasks=96
{% elif _sz == "32xlarge" %}#SBATCH --ntasks=128
{% elif _sz == "48xlarge" %}#SBATCH --ntasks=192
{% elif _sz in ("metal", "metal-24xl", "metal-48xl") %}#SBATCH --ntasks=96
{% else %}##SBATCH --ntasks=4
{% endif %}
{% else %}# Hyperthreading is disabled.
{% set _sz = compute_instance_type.split('.')[-1] %}
{% if _sz == "large" %}#SBATCH --ntasks=1
{% elif _sz == "xlarge" %}#SBATCH --ntasks=2
{% elif _sz == "2xlarge" %}#SBATCH --ntasks=4
{% elif _sz == "4xlarge" %}#SBATCH --ntasks=8
{% elif _sz == "9xlarge" %}#SBATCH --ntasks=18
{% elif _sz == "12xlarge" %}#SBATCH --ntasks=24
{% elif _sz == "18xlarge" %}#SBATCH --ntasks=36
{% elif _sz == "24xlarge" %}#SBATCH --ntasks=48
{% elif _sz == "32xlarge" %}#SBATCH --ntasks=64
{% elif _sz == "48xlarge" %}#SBATCH --ntasks=96
{% elif _sz in ("metal", "metal-24xl", "metal-48xl") %}#SBATCH --ntasks=48
{% else %}##SBATCH --ntasks=2
{% endif %}
{% endif %}

# Reserve 1 CPU per task.
#SBATCH --cpus-per-task=1

# Ensure that all cores are on the same machine.
##SBATCH -N 1                

# Reserve 250MB per core.
##SBATCH --mem-per-cpu=250mb

##########################################################################
##########################################################################
###                      Start the script here                         ###
##########################################################################
##########################################################################

JOB_NAME=slurm_Axb_random
bash scripts/run_axb.sh --jobid "$JOB_NAME.$SLURM_JOB_ID.${SLURM_ARRAY_TASK_ID:-0}" --cluster "{{ cluster_name }}"

# Exit successfully.
exit 0
