################################################################################
# Name:         serverless.yml
# Author:       Rodney Marable <rodney.marable@gmail.com>
# Created On:   August 20, 2019
# Last Changed: May 22, 2019
# Deployed On:  {{ lookup('pipe','date \"+%B %-d, %Y\"') }}
# Purpose:      Serverless config to support automated self-termination of
# 		pcluster stack {{ cluster_name }}
################################################################################

service: auto-terminate-parallelclustermaker-stacks

provider:
  name: aws
  runtime: python3.7
  memorySize: 128
  timeout: 15
  region: {{ region }}
  stackName: {{ serverless_stack_name }}
  stage: {{ prod_level }}
  tags:
    ClusterID: {{ cluster_name }}
    ClusterOwner: {{ cluster_owner }}
    ClusterOwnerEmail: {{ cluster_owner_email }}
    ClusterOwnerDepartment: {{ cluster_owner_department }}
    ClusterStackType: serverless
    ClusterSerialNumber: {{ cluster_serial_number }}
{% if 'UNDEFINED' not in project_id %}    ProjectID: {{ project_id }}{% endif %}
    ProdLevel: {{ prod_level }}
    DEPLOYMENT_DATE: {{ DEPLOYMENT_DATE }}
    Purpose: 'Auto-terminate cluster stack {{ cluster_name }} - Built by ParallelClusterMaker'

custom:
  s3ServerlessBucket: {{ s3_serverless_bucket }}
  s3BucketName: {{ s3_bucketname }}

functions:
  terminate-parallelclustermaker-stack:
    handler: {{ serverless_handler }}.handler
    name: {{ serverless_function_name }}
    role: arn:aws:iam::{{ aws_account_id }}:role/{{ serverless_ec2_iam_role }}
    events:
      - schedule:
          rate: {{ cron_lifetime_string }}
          enabled: true

resources:
  Resources:
    S3BucketTerminateClusterStack:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.s3ServerlessBucket}
