################################################################################
# Name:		combine_csv_summary_files_for_plotting.sh
# Author:	Rodney Marable <rodney.marable@gmail.com>
# Created On:	January 12, 2018
# Last Changed: August 9, 2018
# Deployed On:	{{ lookup('pipe','date \"+%B %-d, %Y\"') }}
# Purpose:	Combine standalone CSV data files into a summary file
################################################################################

#!/bin/sh

CLUSTER_NAME={{ cluster_name }}

# Create a TIMESTAMP and set up some critical file and directory paths.

TIMESTAMP=`TZ=":US/Eastern" date +%d-%b-%Y-%H:%M:%S`
SCRATCH_FILE=/tmp/scratch_summary.csv
SUMMARY_DIR=`pwd`/summary
SUMMARY_FINAL_DIR=`pwd`/summary_final
if [ ! -d $SUMMARY_FINAL_DIR ]
then
	mkdir $SUMMARY_FINAL_DIR
fi
SUMMARY_DATA_FILE=$SUMMARY_FINAL_DIR/summary.$CLUSTER_NAME.$TIMESTAMP.csv
header="cluster_jobID,matrix_size,compute_time,cluster_name,raw_log_size_bytes,gzip_log_size_bytes,fileproc_time"
echo $header > $SCRATCH_FILE.header
cd $SUMMARY_DIR
for csvfile in `ls summary.$CLUSTER_NAME.*.csv`
do
	tail -n+2 $csvfile >> $SCRATCH_FILE
done
if [ -f $SUMMARY_DATA_FILE ]
then
	cat $SCRATCH_FILE >> $SUMMARY_DATA_FILE
else
	cat $SCRATCH_FILE >> $SCRATCH_FILE.header
	mv $SCRATCH_FILE.header $SUMMARY_DATA_FILE
	rm $SCRATCH_FILE
fi
cat $SUMMARY_DATA_FILE | sort -k1,1n -k 2,2n -t, | awk 'BEGIN{FS=","; OFS=",";} {print $4, $1, $2, $3, $5, $6, $7}' > $SUMMARY_DATA_FILE.sorted
mv $SUMMARY_DATA_FILE.sorted $SUMMARY_DATA_FILE
echo ""
echo "Finished creating:"
echo ""
echo "   ===>   $SUMMARY_DATA_FILE"
echo ""
echo "--------------------------------------------------------------------------------"
echo ""
echo "Please run the following command on your LOCAL machine to download CSV"
echo "data generated in the cloud:"
echo ""
echo "   ===>   ./download_remote_data.sh   "
echo ""
echo "--------------------------------------------------------------------------------"
echo ""
echo "To save and view the plots, please run this command:"
echo ""
{% if base_os == 'centos7' %}
echo "   ===>   python3.6 make_standalone_plots.py"
{% else %}
echo "   ===>   python3 make_standalone_plots.py"
{% endif %}
echo ""
echo "Finished!"
echo "Exiting..."
echo ""
exit 0
