################################################################################
# Name:         kill-pcluster-{{ cluster_name }}.py
# Author:       Rodney Marable <rodney.marable@gmail.com>
# Created On:   June 28, 2018
# Last Changed: May 12, 2019
# Deployed On:  {{ lookup('pipe','date \"+%B %-d, %Y\"') }}
# Purpose:      Lambda function handler for self-terminating pcluster stacks
################################################################################

def kill_pcluster(event, context):

# Load some required Python libraries.
    
    import boto3
    import sys
    import time

# Define some critical variables.

    cluster_name = '{{ cluster_name }}'
    cluster_owner = '{{ cluster_owner }}'
    cluster_stack_name = 'parallelcluster-{{ cluster_name }}'
    s3_bucketname = '{{ s3_bucketname }}'

# Delete s3_bucketname and any objects it contained.

    s3 = boto3.resource('s3')
    s3_objects_to_delete = s3.meta.client.list_objects(Bucket="{{ s3_bucketname }}")
    s3_keys_to_delete = {'Objects' : []}
    s3_keys_to_delete['Objects'] = [{'Key' : k} for k in [obj['Key'] for obj in s3_objects_to_delete.get('Contents', [])]]
    s3.meta.client.delete_objects(Bucket="{{ s3_bucketname }}", Delete=s3_keys_to_delete)    
    bucket_to_delete = s3.Bucket('{{ s3_bucketname }}')
    p = bucket_to_delete.delete()

# Delete the ParallelCluster stack.

    cfn_client = boto3.client('cloudformation')
    q = cfn_client.delete_stack(StackName=cluster_stack_name)

{% if enable_efs == 'true' %}
# Delete the EFS file system associated with this ParallelCluster stack.

    efs_client = boto3.client('efs')
    efs_mount_target = efs_client.delete_mount_target(MountTargetId={{ efs_pcluster_mount_target_id }})
    delete_efs_fsid = efs_client.delete_file_system(FileSystemId={{ efs_pcluster_fsid }})

{% endif %}
{% if enable_fsx == 'true' %}
# Delete the FSx file system associated with this ParallelCluster stack.

    fsx_client = boto3.client('fsx')
    fsx_fsid = s3.Object('{{ s3_bucketname }}', '{{ s3_object_path }}/{{ fsx_fsid_object }}')
    delete_fsx_fsid = fsx_client.delete_file_system(FileSystemId=fsx_fsid)

{% endif %}
# Send a termination alert to cluster_owner_email via SNS.

    sns = boto3.resource('sns')
    topic = sns.Topic('arn:aws:sns:{{ region }}:{{ aws_account_id }}:sns_alerts_{{ cluster_name }}')
    r = topic.publish(
        Message='ParallelCluster stack {{ cluster_name }} was terminated by the kill-pcluster Lambda function on ' + str(time.strftime('%c')),
        Subject='ParallelCluster stack {{ cluster_name }} Termination Alert',
        MessageStructure='string',
        MessageAttributes={
            'string': {
                'DataType': 'string',
                'StringValue': 'string',
                'BinaryValue': b'bytes'
            }
        }
    )

# Delete the SNS topic associated with this pcluster stack.

    sns_client = boto3.client('sns')
    s = sns_client.delete_topic(TopicArn='arn:aws:sns:{{ region }}:{{ aws_account_id }}:sns_alerts_{{ cluster_name }}')

# Return the results.

    return delete_efs_fsid, delete_fsx_fsid, p, q, r, s

